.App {
  margin-left: 25%;
  margin-right: 25%;
  background-color: darkorange
}

.App-button{
  width: 70%;
  height: 31px;
}

.App-input{
  width: 29.58%;
  height: 25px;
}

.App-listitem{
  background-color: chartreuse;
  font-size: 24px;
}

.App-list{
  margin-left: 25%;
  margin-right: 25%;
}

*{
  margin-top: 0;
  margin-right: 0;
}